WebContent/wsdl/PesquisaRG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DAO.model" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DAO.model" xmlns:intf="http://DAO.model" xmlns:tns1="http://bean.model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DAO.model" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://bean.model"/>
   <element name="busca_RG">
    <complexType>
     <sequence>
      <element name="RG" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="busca_RGResponse">
    <complexType>
     <sequence>
      <element name="busca_RGReturn" type="tns1:Pessoa"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://bean.model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Pessoa">
    <sequence>
     <element name="cic_cpf" nillable="true" type="xsd:string"/>
     <element name="data_emissao" nillable="true" type="xsd:string"/>
     <element name="data_nascimento" nillable="true" type="xsd:string"/>
     <element name="endereco" nillable="true" type="xsd:string"/>
     <element name="estadoCivil" nillable="true" type="xsd:string"/>
     <element name="nacionalidade" nillable="true" type="xsd:string"/>
     <element name="natural_UF" nillable="true" type="xsd:string"/>
     <element name="naturalidade" nillable="true" type="xsd:string"/>
     <element name="nome" nillable="true" type="xsd:string"/>
     <element name="nome_ant" nillable="true" type="xsd:string"/>
     <element name="nome_ant_aux" nillable="true" type="xsd:string"/>
     <element name="nome_mae" nillable="true" type="xsd:string"/>
     <element name="nome_mae_pesq" nillable="true" type="xsd:string"/>
     <element name="nome_novo" nillable="true" type="xsd:string"/>
     <element name="nome_pai" nillable="true" type="xsd:string"/>
     <element name="nome_pai_pesq" nillable="true" type="xsd:string"/>
     <element name="nome_pesq" nillable="true" type="xsd:string"/>
     <element name="nome_solt" nillable="true" type="xsd:string"/>
     <element name="nome_solt_aux" nillable="true" type="xsd:string"/>
     <element name="num_rg" nillable="true" type="xsd:string"/>
     <element name="profissao" nillable="true" type="xsd:string"/>
     <element name="sexo" nillable="true" type="xsd:string"/>
     <element name="telefone" nillable="true" type="xsd:string"/>
     <element name="via_rg" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="busca_RGResponse">

      <wsdl:part element="impl:busca_RGResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="busca_RGRequest">

      <wsdl:part element="impl:busca_RG" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PesquisaRG">

      <wsdl:operation name="busca_RG">

         <wsdl:input message="impl:busca_RGRequest" name="busca_RGRequest">

       </wsdl:input>

         <wsdl:output message="impl:busca_RGResponse" name="busca_RGResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PesquisaRGSoapBinding" type="impl:PesquisaRG">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="busca_RG">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="busca_RGRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="busca_RGResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PesquisaRGService">

      <wsdl:port binding="impl:PesquisaRGSoapBinding" name="PesquisaRG">

         <wsdlsoap:address location="http://localhost:8080/WBuscaRG/services/PesquisaRG"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
